[user]
	name = Tevin Zhang
	email = mail2tevin@gmail.com
    user = tevino
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[commit]
    color = auto
[status]
    color = auto
[push]
    color = auto
	default = simple
[pull]
    color = auto
[fetch]
    color = auto
[branch]
    color = auto
[clone]
    color = auto
[merge]
    color = auto
[rm]
    color = auto
[add]
    color = auto
[log]
    color = auto
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/tevin/.gitignore_global
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --oneline --abbrev-commit --all --graph --decorate --color
    # codecli
    start = !code start
    pr = !code pr
    sync = !code sync
    end = !code end
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
