/*
!.gitignore
!.gitconfig

# git global
!.gitignore_global

# shell
!.zshrc
!.zshenv
!.zlogin
!.zpreztorc
!.zprezto

# misc tools
!.bin

# tmux
!.tmux.conf
!.ssh/

# vim
!.vim/
!.vimrc
.vim/autoload
.vim/ftplugin
.vim/view
